@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.navbar__muni {
  background-color: #232d4f;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4e66b6;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
