---
import "../styles/global.css";
const { title = "Juzgado de Faltas Municipal" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Nahuel Soria Parodi" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="shortcut icon" href="/favicon.png" />
  </head>

  <body class="bg-blue-50 text-gray-800 min-h-screen flex flex-col">
    <!-- Header -->
    <header class="navbar__muni text-white py-2">
      <div class="container mx-auto flex justify-between items-center px-4">
        <a
          href="https://www.catamarcaciudad.gob.ar"
          target="_blank"
          rel="noreferrer"
        >
          <img
            src="/logo-capital-dark.webp"
            alt="Logo Catamarca Capital"
            class="h-12 w-auto"
          />
        </a>
      </div>
    </header>

    <!-- Main -->
    <main class="flex-1">
      <slot />
    </main>

    <!-- Footer -->
    <footer class="bg-[#232d4f] text-white text-sm">
      <div class="max-w-7xl mx-auto px-4 py-4 text-center">
        © {new Date().getFullYear()}
        <a
          href="https://www.catamarcaciudad.gob.ar"
          target="_blank"
          rel="noreferrer"
          class="hover:underline ml-1"
        >
          Municipalidad de San Fernando del Valle de Catamarca
        </a>
      </div>
    </footer>
  </body>
</html>
